<% content_for :top_nav do %>
	<h1><%=link_to "Forums", forums_path %> : <%= link_to @forum.name, forum_path(@forum) %> : New </h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', forum_topics_path(@forum) %>
